# -------------------------------------------------------------------------------
# root/.env
# -------------------------------------------------------------------------------




# -------------------------------------------------------------------------------
# PostgreSQL
# -------------------------------------------------------------------------------
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# -------------------------------------------------------------------------------
# URL async per SQLAlchemy 2 + asyncpg
# -------------------------------------------------------------------------------
APP_DATABASE_URL=postgresql+asyncpg://:@db:5432/


# -------------------------------------------------------------------------------
# Far comunicare Frontend con Backend 
# -------------------------------------------------------------------------------
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000

# Porte Backend da cancellare
APP_HOST=0.0.0.0
APP_PORT=8000
APP_RELOAD=1
APP_WORKERS=1