# -------------------------------------------------------------------------------
# root/.env
# -------------------------------------------------------------------------------
#
#
#
#
# -------------------------------------------------------------------------------
# PostgreSQL
# -------------------------------------------------------------------------------
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# -------------------------------------------------------------------------------
# URL async per SQLAlchemy 2 + asyncpg
# -------------------------------------------------------------------------------
APP_DATABASE_URL=postgresql+asyncpg://POSTGRES_USER:POSTGRES_PASSWORD@db:5432/POSTGRES_DB

# -------------------------------------------------------------------------------
# Redis
# -------------------------------------------------------------------------------
APP_REDIS_URL=redis://redis:6379/0

# -------------------------------------------------------------------------------
# Chiave segreta sessioni
# -------------------------------------------------------------------------------
APP_SECRET_KEY=APP_SECRET_KEY

# ------------------------------------------------  -------------------------------
# Resend API - Per mandare le email
# -------------------------------------------------------------------------------
APP_RESEND_API_KEY=APP_RESEND_API_KEY(32)
APP_RESET_EMAIL_FROM="SaaS Template <no-reply@saastemplate.com>"
APP_RESEND_DEV_FALLBACK_FROM="SaaS Template <onboarding@resend.dev>"
APP_BASE_URL=https://admin.example.com


# -------------------------------------------------------------------------------
# Far comunicare Frontend con Backend 
# -------------------------------------------------------------------------------
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000

# Porte Backend
APP_HOST=0.0.0.0
APP_PORT=8000
APP_RELOAD=1
APP_WORKERS=1
