# -------------------------------------------------------------------------------
# root/.env
# -------------------------------------------------------------------------------
#
#
#
#
# -------------------------------------------------------------------------------
# PostgreSQL
# -------------------------------------------------------------------------------
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
#
#
#
# -------------------------------------------------------------------------------
# URL async per SQLAlchemy 2 + asyncpg
# -------------------------------------------------------------------------------
APP_DATABASE_URL=
#
#
#
# -------------------------------------------------------------------------------
# Redis
# -------------------------------------------------------------------------------
APP_REDIS_URL=
#
#
#
# -------------------------------------------------------------------------------
# Chiave segreta sessioni
# -------------------------------------------------------------------------------
APP_SECRET_KEY=
#
#
#
# -------------------------------------------------------------------------------
# Resend API - Per mandare le email
# -------------------------------------------------------------------------------
APP_RESEND_API_KEY=
APP_RESET_EMAIL_FROM=
APP_RESEND_DEV_FALLBACK_FROM=
#
#
#
# -------------------------------------------------------------------------------
# STRIPE API - Per modello subscription (Il CORE del SaaS)
# -------------------------------------------------------------------------------
APP_STRIPE_SECRET_KEY=
APP_STRIPE_PUBLISHABLE_KEY=
APP_STRIPE_WEBHOOK_SECRET=
# 
APP_STRIPE_PRICE_BASE=
APP_STRIPE_PRICE_PRO=
APP_STRIPE_PRICE_COMPANY=
#
#
#
# -------------------------------------------------------------------------------
# API LiteLLM - DeepSeek API
# -------------------------------------------------------------------------------
APP_DEEPSEEK_API_KEY=
APP_LITELLM_MASTER_KEY=
#
#
#
# -------------------------------------------------------------------------------
# CREDENZIALI n8n
# -------------------------------------------------------------------------------
APP_N8N_ENCRYPTION_KEY=
#
#
#
# -------------------------------------------------------------------------------
# Far comunicare Frontend con Backend 
# -------------------------------------------------------------------------------
NEXT_PUBLIC_API_BASE_URL=
#
#
#
# -------------------------------------------------------------------------------
# Porte Backend
# -------------------------------------------------------------------------------
APP_HOST=
APP_PORT=
APP_RELOAD=
APP_WORKERS=
#
#
#
# -------------------------------------------------------------------------------
# fine
# -------------------------------------------------------------------------------